<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    {% for item in dirs %}
      {% if not r/(^(.*\/)?(?=_))_/.test(item) %}
        <div>
          <a href="/{{ item }}">{{ item }}</a>
        </div>
      {% endif %}
    {% endfor %}
  </body>
</html>
